:root {
  --fp: 'Open Sans', sans-serif;
  --fs: 'PT Sans', sans-serif;
  --azulHeader: linear-gradient(#4e69a2,#3b5998 50%);
}

html{
  box-sizing: border-box;
}

*, *::before, *:after{
  box-sizing: inherit;
}

*{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  font-family: var(--fp);
}

header{
  background-image: var(--azulHeader);
  height: 82px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.barra{
  padding-top: 12px;
  display: grid;
  grid-template-columns: 540px 1fr;
}

.barra img{
  margin-top: 18px;
  width: 170px;
}

.inicio-sesion{
  display: grid;
  grid-template-columns: 175px 220px 50px;
}

.inicio-sesion label{
  margin-bottom: 4px;
  color: white;
  font-size: 12px;
  display: block;
}

.inicio-sesion input{
  width: 150px;
  height: 23px;
  border: 1px solid #1b2a5b;
}

:focus{
  outline: 0;
}

.inicio-sesion a{
  margin-top: 2px;
  text-decoration: none;
  font-size: 12px;
  display: block;
  color: #9cb4d8;
}

.inicio-sesion a:hover{
  text-decoration: underline;
}

.boton{
  display: flex;
  align-items: center;
}

.inicio-sesion button{
  width: 50px;
  height: 24px;
  font-size: 12.5;
  font-weight: 600;
  background: #4267b2;
  border: 1px solid #29487d;
  color: white;
  cursor: pointer;
}

.inicio-sesion button:hover{
  background-color: #365899;
}