:root {
  --fp: 'Open Sans', sans-serif;
  --fs: 'PT Sans', sans-serif;
  --azulHeader: linear-gradient(#4e69a2,#3b5998 50%);
}

html{
  box-sizing: border-box;
}

*, *::before, *:after{
  box-sizing: inherit;
}

*{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  font-family: var(--fp);
}

header{
  background-image: var(--azulHeader);
  height: 82px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.barra{
  padding-top: 12px;
  display: grid;
  grid-template-columns: 540px 1fr;
}

.barra img{
  margin-top: 18px;
  width: 170px;
}

.inicio-sesion{
  display: grid;
  grid-template-columns: 175px 220px 50px;
}

.inicio-sesion label{
  margin-bottom: 4px;
  color: white;
  font-size: 12px;
  display: block;
}

.inicio-sesion input{
  width: 150px;
  height: 23px;
  border: 1px solid #1b2a5b;
}

:focus{
  outline: 0;
}

.inicio-sesion a{
  margin-top: 2px;
  text-decoration: none;
  font-size: 12px;
  display: block;
  color: #9cb4d8;
}

.inicio-sesion a:hover{
  text-decoration: underline;
}

.boton{
  display: flex;
  align-items: center;
}

.inicio-sesion button{
  width: 50px;
  height: 24px;
  font-size: 12.5;
  font-weight: 600;
  background: #4267b2;
  border: 1px solid #29487d;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.inicio-sesion button:hover{
  background-color: #365899;
}

main{
  background: linear-gradient(white, #D3D8E8);
  padding-bottom: 30px;
}

#img-mundo p{
  color: #0e385f;
  font-family: var(--fs);
  font-size: 22px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

#img-mundo img{
  width: 537px;
}

.body{
  display: grid;
  grid-template-columns: 580px 400px;
}

.titulo-registro{
  padding: 20px 0;
}

.registro h2{
  font-size: 36px;
  margin-bottom: 5px;
  color: #000;
}

.registro p{
  font-size: 18px;
}

.form-registro input{
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #bdc7dB;
  margin: 0 0 10px;
  width: 100%;
}

.form-registro input::-webkit-input-placeholder{
  color: #999;
}

.nom-ape{
  display: flex;
  justify-content: space-between;
}

.nom-ape input{
  width: 195px;
}

.form-registro legend{
  margin: 10px 0 5xp;
  color:#90949c;
  font-size: 16px;
  font-weight: bold;
}

.fecha-nac{
  display: flex;
}

.div-fecha-nac select{
  padding: 6px 11.5px 6px 5px;
  font-size: 13px;
  height: 30px;
  border: 1px solid #ccd0d5;
}

.year{
  margin-right: 10px;
}

.div-interrogante{
  display: flex;
  align-items: center;
}

.registro img{
  width: 16px;
  height: 16px;
}

.sexo{
  margin-bottom: 10px;
}

.sexo legend{
  margin-bottom: 10px;
}

.sexo span{
  margin-right: 10px;
  position: relative;
}

.sexo input{
  position: absolute;
  width: inherit;
  top: 8px;
}

.sexo label{
  margin-left: 15px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  padding: 0 10px 0 3px;
}

.form-registro p{
  color: #777;
  font-size: 10.5px;
  width: 316px;
  font-weight: 300;
  line-height: 14px;
}

.form-registro a{
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

.form-registro button{
  margin: 20px 0 25px;
  font-size: 19px;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  background: linear-gradient(#67ae55, #578843);
  border-color: #3b6e22 #3b6e22 #2c5115!important;
  box-shadow: inset 0 1px 1px #a3e388;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}