:root {
  --fp: 'Open Sans', sans-serif;
  --fs: 'PT Sans', sans-serif;
  --azulHeader: linear-gradient(#4e69a2,#3b5998 50%);
}

html{
  box-sizing: border-box;
}

*, *::before, *:after{
  box-sizing: inherit;
}

*{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  font-family: var(--fp);
}

header{
  background-image: var(--azulHeader);
  height: 82px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.barra{
  padding-top: 12px;
}

.barra img{
  margin-top: 18px;
  width: 170px;
}